body {
  padding-top: 60px;
  
  background-image: url("/images/thewalkingfed.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
    
  color: #5E8D55;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

 {
  opacity: 0.4;
}


.dropdown-toggle {
  color: #5E8D55;
}

.navbar-brand {
  color: #5E8D55;
}
